@charset "UTF-8";

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}

:root {
    --colorbg: #eff0f4;
    --colorbgCards: #fff;
    --colortext1: #464646;
    --colortext2: #A3A3A3;
    --colorbtn1: #FFB050;
    --colorbtn2: #4894FF;
    --colortransparet: #a3a3a36e;
    --font: "Inter";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "header"
    "main";
    background: var(--colorbg);
}

header, section {
    padding: 1.5rem;
}

/* Header */

header {
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.img-header {
    border-radius: 50%;
    max-height: 57px;
    max-width: 57px;
}

.text-header {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.2rem
}

.h2-header {
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: 700;
    color: var(--colortext1);
}

.p-header {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    color: var(--colortext2);
}

main {
    grid-area: main;
}

/* Sections */

.section-today, .section-tomorrow, .section-wednesday {
    display: flex;
    flex-flow: column nowrap;
}

.day-title {
    color: var(--colortext1);
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: clamp(1.5rem, 1vw, 2.5rem);
    margin-top: 1rem;
}

.card {
    border-radius: 10px;
    padding: 1.5rem;
    background: var(--colorbgCards);
}

.card-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.card-header-text {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
}

.card-image {
    border-radius: 50%;
    max-height: 32px;
    max-width: 32px;
}

.card-tittle {
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 700;
    color: var(--colortext1);
}

.card-text {
    font-size: clamp(0.75rem, 1.1vw, 1.25rem);
    font-weight: 200;
    color: var(--colortext2);
}

.card-header-icon {
    border-radius: 50%;
    padding: 0.5em 0.65em;
    background: var(--colortransparet);
}

.card-header-icon i {
    color: var(--colorbtn2);
}

.card hr {
    margin: 0.5rem 0;
    border: none;
    height: 1px;
    background-color: var(--colortransparet);
}

.card-body {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.card-body p {
    font-size: clamp(0.75rem, 1vw, 1.25rem);
    font-weight: 200;
    color: var(--colortext1);
}

.card-body-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    border: none;
    border-radius: 10px;
    padding: 1em 1em;
    transition: 
    background-color 0.3s;
}

.btn-video {
    background-color: var(--colorbtn1);
    color: var(--colorbgCards);
}

.btn-video:hover {
    background-color: #b17a37;
    cursor: pointer;
}

.btn-audio {
    background-color: var(--colorbgCards);
    border: 1px solid var(--colortransparet);
}

.btn-audio:hover {
    cursor: pointer;
}

.btn-location {
    flex-grow: 1;
    background-color: var(--colorbtn2);
    color: var(--colorbgCards);
}

.btn-location:hover {
    cursor: pointer;
    background-color: #3367af;
}

/* Btn floating */

.btn-floating {
    position: fixed;
    left: 85%;
    top: 80%;
    border-radius: 50%;
    padding: 1em 1.25em;
    background: var(--colorbtn2);
    color: var(--colorbgCards);
}


/* footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    background: var(--colorbgCards);
}

.footer-nav {
    padding: 1rem;
}

.footer-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    list-style: none;
}

.footer-links {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: var(--colortext2);
}
